//
// Custom Main
//
// Add your own styles or override existing ones
//
// This file is included last, so you have access
// to all Bootstrap and OneUI functions/mixins/styles etc
// --------------------------------------------------

// If you have many custom styles, you can create and import additional files
// For example you can create _component1.scss and include it as follows:
// @import 'component1';

$main-Color: #343240 !default;
$hover-Color: #413f4d !default;
$border-box-Color:#707070!default;
$border-radius-box:25px;
$table-border:#E8E8E8!default;
$bg-them-light: #f0f0f0 !default;
$Submit-Color: #7d7c8c !default;

.br-box-t{
    border-radius:$border-radius-box ;
    border: 2px solid $border-box-Color;
}
.br-box-img{
    border-radius:12px ;
    border: 2px solid $border-box-Color;
}
.br-12{
    border-radius:12px ;
}

.circle{
    width: 0.3em;
    height: 0.3em;
    border-radius: 50%;
}
.c-green{
    background: #66A74E;
}
.c-orange{
    background: #A7664E;
}
.c-white{
    background: #E8E8E8;
}
.br-round{
    border-radius:$border-radius-box !important ;
}.br-round-right{
    border-radius:0 $border-radius-box $border-radius-box 0 !important ;

}
.br-round-left{
    border-radius:$border-radius-box  0 0 $border-radius-box!important ;
}
.bg-t-light{
    background: $bg-them-light!important;
}
.p-75{
    padding: 0.75rem;
}
.p-05{
    padding: 0.5rem;
}

.Bg-main{
    background: $main-Color;
}
.Bg-submit{
    background: $Submit-Color;
}
.color-main{
    color: $main-Color;
}
.menu-radius{
    border-radius: 25px 0 0 25px ;
    //padding:   calc(0.7vw + 0.3em) ;
}
.nav-main-link{
    width: 80%;
    border-radius: 25px;
    padding-bottom: 20px;
    &:hover,
    &.active {

        color: #f9f9f9 !important;
        background-color:$hover-Color!important;

        width: 80%;
        border-radius: 25px;

    }

    &:after {
        background-color: $hover-Color;
        bottom: -13px;
        content: '';
        display: block;
        height: 1px;
        left: 50%;
        position: absolute;
        transform: translate(-50%,0);
        width: 90%;
    }
}
.border-t-s {
    border-top: 2px solid $table-border;
}
.border-b-s {
    border-bottom: 2px solid $table-border;
}
.b-input-box{
    border-radius:$border-radius-box ;
    border: 2px solid $table-border;
    background: transparent;
    &:hover,  &:focus,
    &:active {
        color: $main-Color !important;
        background-color:white!important;
        border: 2px solid $table-border!important;
         outline: none;
        box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;

    }

}
.outline-none {
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
.cursor-pointer{
    cursor: pointer!important;
}




.active{
    color: #f9f9f9 !important;
    background-color:#413f4d!important;
    i{
        color: #f9f9f9 !important;
    }

        width: 80%;
        border-radius: 25px;

}


.slider-right{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1032;
    width: 100%;
    height: 100%;
    background-color: #fff;
    overflow-y: auto;
    -webkit-transform: translateX(-100%) translateY(0) translateZ(0);
    transform: translateX(-100%) translateY(0) translateZ(0);
    -webkit-overflow-scrolling: touch;
    will-change: transform;
}


.Fs0-0 {
    font-size: calc(0.2vw + 0.2em) !important;
}
.Fs0-1 {
    font-size: calc(0.3vw + 0.3em) !important;
}
.Fs0-2 {
    font-size: calc(0.3vw + 0.4em) !important;
}.Fs0-3 {
    font-size: calc(0.4vw + 0.4em) !important;
}
.Fs1 {
    font-size: calc(0.5vw + 0.5em) !important;
}

.Fs2 {
    font-size: calc(0.7vw + 0.5em)!important;
}

.Fs3 {
    font-size: calc(0.7vw + 0.7em)!important;
}

.Fs4 {
    font-size: calc(1vw + 0.7em)!important;
}

.Fs5 {
    font-size: calc(1vw + 1em)!important;
}

.Fs6 {
    font-size: calc(1.5vw + 1em)!important;
}


@media screen and (max-width: 600px) {
    .Fs0-1 {
        font-size: calc(0.6em) !important;
    }
}


